---
import "../styles/global.css";
import Example from "../react/example";
import ExampleBetter from "../react/examplebetter"
import { exampleData } from "../react/examplebetterdata"
import Footer from "../components/footer.astro";
---
<h1 class="text-4xl font-bold text-blue-500">Tailwind is Working!</h1>
<Example />
{exampleData.map((item) => (
    <ExampleBetter imageSrc={item.imageSrc} text={item.text} imageClass={item.imageClass} />
  ))}

<Footer />